<div class="model-form">
  <div class="form">
      <h1>Material Gatepass</h1>
      <p> Please click on view to view approved material gatepass.</p>
      <hr>      
      <div *ngIf='loading'>We are loading data</div> 
      <table>
        <thead>
          <tr>
            <th style="width:70px;">S.No.</th>
            <th>Date-Time</th>
            <th>Issuer</th>
            <th>Authoriser</th>
            <th>Approved Materials </th>       
            <th>Not-Approved Materials </th>       
            <th>Gatepass Type</th>
            <th>View Approved</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gatePass of listGatePass" >
                <td>{{gatePass.items[0].srNo}}</td>
                <td>{{gatePass.gatePassDate | date:'short'}}</td>
                <td>{{gatePass.issuerName}}</td>           
                <td>{{gatePass.authoriserName}}</td>     
                <td>{{getApprovedMaterialCount(gatePass.items)}}</td>
                <td>{{getNotApprovedMaterialCount(gatePass.items)}}</td>
                <td>returnable</td>
                <td><a class="btn btn-success" (click)='rowClick(gatePass)'>View</a></td>
              </tr>
          <!-- <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr>
          <tr>
            <td><input type="number" placeholder="SNo." min="1" readonly/></td>
            <td><input type="datetime" placeholder="Date-Time" readonly/></td>
            <td><input type="text" placeholder="Issuer" readonly/></td>
            <td><input type="text" placeholder="Authoriser" readonly/></td>
            <td><input type="number" placeholder="Approved Materials " readonly/></td>
            <td><input type="number" placeholder="Not-Approved Materials" readonly/></td>
            <td><input list="type" placeholder="Type" readonly></td>
            <td><a href="#" class="btn btn-success">view</a></td>
          </tr> -->
          
        </tbody>
      </table>   
  </div>
</div>